# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [21]:
import pandas as pd

#1. Load data
df_insurance_file2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df_insurance_file3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

#2. Data overview
#print('File 2 overview')
#print(df_insurance_file2.head())

#print('File 3 overview')
#print(df_insurance_file3.head())


#3. Cleaning data

#3.1.Column names should be in lower case
df_insurance_file2.columns = df_insurance_file2.columns.str.lower()
df_insurance_file3.columns = df_insurance_file3.columns.str.lower()

#3.2. White spaces in column names should be replaced by _
df_insurance_file2.columns = df_insurance_file2.columns.str.replace(' ', '_')
df_insurance_file3.columns = df_insurance_file3.columns.str.replace(' ', '_')

#3.3. ST should be replaced for state
df_insurance_file2.rename(columns={'st': 'state'}, inplace=True)

#3.4. Gender standardization
gender_replacements = {
    'F': 'Female',
    'M': 'Male',
    'Femal': 'Female',
    'female': 'Female',
    'Male': 'Male'
}
df_insurance_file2['gender'] = df_insurance_file2['gender'].replace(gender_replacements)
df_insurance_file3['gender'] = df_insurance_file3['gender'].replace(gender_replacements)

print("\nValues after standardization of the column Gender:")
print(df_insurance_file2['gender'].unique())
print(df_insurance_file3['gender'].unique())


#3.5. State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
  #Gender standardization
state_replacements = {
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
}

df_insurance_file2['state'] = df_insurance_file2['state'].replace(state_replacements)
df_insurance_file3['state'] = df_insurance_file2['state'].replace(state_replacements)

print("\nValues after standardization of the column State:")
print(df_insurance_file2['state'].unique())
print(df_insurance_file2['state'].unique())


#3.6. In education, "Bachelors" could be replaced by "Bachelor"

df_insurance_file2['education'] = df_insurance_file2['education'].replace('Bachelors', 'Bachelor')
df_insurance_file3['education'] = df_insurance_file3['education'].replace('Bachelors', 'Bachelor')

print("\nValues after standardization of the column Education:")
print(df_insurance_file2['education'].unique())
print(df_insurance_file3['education'].unique())

#3.7. In Customer Lifetime Value, delete the % character
df_insurance_file2['customer_lifetime_value'] = df_insurance_file2['customer_lifetime_value'].astype(str)
df_insurance_file3['customer_lifetime_value'] = df_insurance_file3['customer_lifetime_value'].astype(str)

print("Data type after the modification (from float to string):")
print(df_insurance_file2['customer_lifetime_value'].dtype)
print(df_insurance_file3['customer_lifetime_value'].dtype)

#3.8. Customer Lifetime Value remplacements and rechanging the data type (from string to float)
df_insurance_file2['customer_lifetime_value'] = df_insurance_file2['customer_lifetime_value'].str.replace('%', '').astype(float)
df_insurance_file3['customer_lifetime_value'] = df_insurance_file3['customer_lifetime_value'].str.replace('%', '').astype(float)

#3.9. In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

  #Vehicle classs standardization
vehicle_class_replacements = {
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}

df_insurance_file2['vehicle_class'] = df_insurance_file2['vehicle_class'].replace(vehicle_class_replacements)
df_insurance_file3['vehicle_class'] = df_insurance_file3['vehicle_class'].replace(vehicle_class_replacements)

  #Print new values in column vehicle class
print("\nValuesafter standardization of the column Vehicule class:")
print(df_insurance_file2['vehicle_class'].unique())
print(df_insurance_file3['vehicle_class'].unique())

#4.Changing the format of Number of open complaints:

#4.1.Replacing the value "nan" by 0/0/0
df_insurance_file2['number_of_open_complaints'] = df_insurance_file2['number_of_open_complaints'].fillna('0/0/0')
df_insurance_file3['number_of_open_complaints'] = df_insurance_file3['number_of_open_complaints'].fillna('0/0/0')

#4.2.chaging the data type from object to string
df_insurance_file2['number_of_open_complaints'] = df_insurance_file2['number_of_open_complaints'].astype(str)
df_insurance_file3['number_of_open_complaints'] = df_insurance_file3['number_of_open_complaints'].fillna('0/0/0')

#4.3.removing the slash: (préciser le fonctionnement)
df_insurance_file2['number_of_open_complaints'] = df_insurance_file2['number_of_open_complaints'].str.split('/').str[1]
df_insurance_file3['number_of_open_complaints'] = df_insurance_file3['number_of_open_complaints'].fillna('0/0/0')

#4.4.chaging the data type from string to integer
df_insurance_file2['number_of_open_complaints'] = df_insurance_file2['number_of_open_complaints'].fillna('0').astype(int)
df_insurance_file3['number_of_open_complaints'] = df_insurance_file3['number_of_open_complaints'].fillna('0/0/0')

#4.5.print the data type print the head after modifcations
print("\nData type for Number of Open Complaints after modificatons :")
print(df_insurance_file2['number_of_open_complaints'].dtype)
print(df_insurance_file3['number_of_open_complaints'].dtype)

#4.6.print the head after modifcations
print("Example of the values stored in the column Number of Open Complaints after modifications:")
print(df_insurance_file2['number_of_open_complaints'].head())
print(df_insurance_file3['number_of_open_complaints'].head())

#5.Identify the columns with null values 
print("Null values before filling :")
print(df_insurance_file2.isnull().sum())
print(df_insurance_file3.isnull().sum())

#5.1. Determine numerical and categorical variables (if data type is float or interger --> numerical, and if data type is object --> categorical)
num_cols = df_insurance_file2.select_dtypes(include=['float64', 'int64']).columns
cat_cols = df_insurance_file3.select_dtypes(include=['object']).columns

#5.2. Fill the null values

  #Numerical columbs: filling with the mean
for col in num_cols:
    df_insurance_file2[col] = df_insurance_file2[col].fillna(df_insurance_file2[col].mean())
    df_insurance_file3[col] = df_insurance_file3[col].fillna(df_insurance_file3[col].mean())

  #Pour les colonnes catégorielles, remplir avec le mode
for col in cat_cols:
    df_insurance_file2[col] = df_insurance_file2[col].fillna(df_insurance_file2[col].mode()[0])
    
for col in cat_cols:
    df_insurance_file3[col] = df_insurance_file3[col].fillna(df_insurance_file3[col].mode()[0])

  #Verify that Null Values have been Correctly Handled
print("\nNull values after filling :")
print(df_insurance_file2.isnull().sum())
print(df_insurance_file3.isnull().sum())

Values after standardization of the column Gender:
['Female' 'Male' nan]
['Male' 'Female']

Values after standardization of the column State:
['Arizona' 'California' 'Oregon' 'Nevada' 'Washington']
['Arizona' 'California' 'Oregon' 'Nevada' 'Washington']

Values after standardization of the column Education:
['Bachelor' 'Master' 'College' 'Doctor' 'High School or Below']
['High School or Below' 'Master' 'Bachelor' 'College' 'Doctor']
Data type after the modification (from float to string):
object
object

Valuesafter standardization of the column Vehicule class:
['Four-Door Car' 'SUV' 'Two-Door Car' 'Luxury']
['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury']

Data type for Number of Open Complaints after modificatons :
int64
int64
Example of the values stored in the column Number of Open Complaints after modifications:
0    0
1    0
2    0
3    1
4    0
Name: number_of_open_complaints, dtype: int64
0    0
1    0
2    0
3    0
4    2
Name: number_of_open_complaints, dtype: int64
Null values before filling :
customer                     0
state                        0
gender                       5
education                    0
customer_lifetime_value      4
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
total_claim_amount           0
policy_type                  0
vehicle_class                0
dtype: int64
customer                        0
state                        6074
customer_lifetime_value         0
education                       0
gender                          0
income                          0
monthly_premium_auto            0
number_of_open_complaints       0
policy_type                     0
total_claim_amount              0
vehicle_class                   0
dtype: int64

Null values after filling :
customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
total_claim_amount           0
policy_type                  0
vehicle_class                0
dtype: int64
customer                     0
state                        0
customer_lifetime_value      0
education                    0
gender                       0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
total_claim_amount           0
vehicle_class                0
dtype: int64

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [33]:
import pandas as pd

#1. Load the data
df_marketing_customer = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')

#2. Data overview
print('Marketing customer file overview:')
print(df_marketing_customer.head())
print(df_marketing_customer.info())

#3. Checking missing values
missing_values = df_marketing_customer.isnull().sum()
print("\nMissing values per columns:")
print(missing_values)


# Examen des valeurs des colonnes numériques
numeric_columns = df_marketing_customer.select_dtypes(include=['int', 'float']).columns
print("\nExamen des valeurs des colonnes numériques :")
for col in numeric_columns:
    non_numeric_values = df_marketing_customer[col].apply(lambda x: isinstance(x, str))
    if non_numeric_values.any():
        print(f"Colonnes '{col}' contient des valeurs non numériques :")
        print(df_marketing_customer[col][non_numeric_values])

# Conversion des colonnes numériques
print("\nConversion des colonnes numériques :")
for col in numeric_columns:
    try:
        df_marketing_customer[col] = pd.to_numeric(df_marketing_customer[col])
        print(f"Colonnes '{col}' convertie avec succès.")
    except ValueError as e:
        print(f"Erreur lors de la conversion de la colonne '{col}' : {e}")

# Remplacement des valeurs incorrectes ou manquantes
# Dans cet exemple, nous pouvons remplacer les valeurs incorrectes par NaN
df_marketing_customer.rename(columns={"employmentstatus": "employment_status"}, inplace=True)
df_marketing_customer[numeric_columns] = df_marketing_customer[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Affichage du DataFrame avec les valeurs remplacées
print("\nDataFrame avec les valeurs remplacées :")
print(df_marketing_customer)

# Compter le nombre de valeurs NaN par colonne
nan_count_by_column = df_marketing_customer.isna().sum()

# Afficher le nombre de valeurs NaN par colonne
print("Nombre de valeurs NaN par colonne :")
print(nan_count_by_column)

Marketing customer file overview:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None

Missing values per columns:
unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

Examen des valeurs des colonnes numériques :

Conversion des colonnes numériques :
Colonnes 'unnamed:_0' convertie avec succès.
Colonnes 'customer_lifetime_value' convertie avec succès.
Colonnes 'income' convertie avec succès.
Colonnes 'monthly_premium_auto' convertie avec succès.
Colonnes 'months_since_last_claim' convertie avec succès.
Colonnes 'months_since_policy_inception' convertie avec succès.
Colonnes 'number_of_open_complaints' convertie avec succès.
Colonnes 'number_of_policies' convertie avec succès.
Colonnes 'total_claim_amount' convertie avec succès.
Colonnes 'month' convertie avec succès.

DataFrame avec les valeurs remplacées :
       unnamed:_0 customer       state  customer_lifetime_value response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877  California              6857.519928       No

       coverage education effective_to_date employment_status gender  ...  \
0         Basic   College        2011-02-18          Employed      M  ...
1         Basic   College        2011-01-18        Unemployed      F  ...
2         Basic  Bachelor        2011-02-10          Employed      M  ...
3      Extended   College        2011-01-11          Employed      M  ...
4       Premium  Bachelor        2011-01-17     Medical Leave      F  ...
...         ...       ...               ...               ...    ...  ...
10905   Premium  Bachelor        2011-01-19        Unemployed      F  ...
10906     Basic   College        2011-01-06          Employed      F  ...
10907  Extended  Bachelor        2011-02-06          Employed      F  ...
10908   Premium   College        2011-02-13          Employed      F  ...
10909     Basic  Bachelor        2011-01-08        Unemployed      M  ...

       number_of_policies     policy_type        policy  renew_offer_type  \
0                       9  Corporate Auto  Corporate L3            Offer3
1                       1   Personal Auto   Personal L3            Offer4
2                       2   Personal Auto   Personal L3            Offer3
3                       2  Corporate Auto  Corporate L3            Offer2
4                       7   Personal Auto   Personal L2            Offer1
...                   ...             ...           ...               ...
10905                   7   Personal Auto   Personal L1            Offer3
10906                   6   Personal Auto   Personal L3            Offer2
10907                   2  Corporate Auto  Corporate L3            Offer1
10908                   6   Personal Auto   Personal L1            Offer1
10909                   3   Personal Auto   Personal L1            Offer4

       sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0              Agent          292.800000  Four-Door Car       Medsize
1        Call Center          744.924331  Four-Door Car       Medsize
2        Call Center          480.000000            SUV       Medsize
3             Branch          484.013411  Four-Door Car       Medsize
4             Branch          707.925645  Four-Door Car       Medsize
...              ...                 ...            ...           ...
10905            Web         1214.400000     Luxury Car       Medsize
10906         Branch          273.018929  Four-Door Car       Medsize
10907            Web          381.306996     Luxury SUV       Medsize
10908         Branch          618.288849            SUV       Medsize
10909            Web         1021.719397            SUV       Medsize

      vehicle_type month
0                A     2
1                A     1
2                A     2
3                A     1
4                A     1
...            ...   ...
10905            A     1
10906            A     1
10907            A     2
10908            A     2
10909            A     1

[10910 rows x 27 columns]
Nombre de valeurs NaN par colonne :
unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employment_status                0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [34]:
# Calculer le total des ventes par canal de vente
sales_channel_revenue = df_marketing_customer.pivot_table(index='sales_channel', values='total_claim_amount', aggfunc='sum').round(2)

# Afficher le tableau récapitulatif
print("Total revenue for each sales channel:")
print(sales_channel_revenue)

# Créer une table pivotante montrant la valeur moyenne de la durée de vie du client par genre et niveau d'éducation
avg_clv_pivot = df_marketing_customer.pivot_table(index=['gender', 'education'], values='customer_lifetime_value', aggfunc='mean').round(2)

# Afficher la table pivotante
print("\nAverage customer lifetime value per gender and education level:")
print(avg_clv_pivot)

Total revenue for each sales channel:
               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

Average customer lifetime value per gender and education level:
                             customer_lifetime_value
gender education
F      Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7703.60
       College                               8052.46
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here